html {
    font-size: 100%;
}
body {
    color: #383e45;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
.site-title {
    width: 120px;
    padding: 10px 0;
}
.site-title a {
    display: block;
}
.section-title {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;

}
.content-title {
    font-size: 1rem;
    margin: 10px;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto 100px;
    padding: 0 4%;
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
header ul {
    display: flex;

}
header li {
    margin-left: 30px;
}
header li a {
    color: #24292E;
}
header li a:hover {
    opacity: 0.7;
}
.mainvisual {
    margin-bottom: 80px;
}
.mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}
.about .content {
display: flex;
justify-content: center;
align-items: center;
}
.about img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
    border-radius: 50%;
}
.about .text {
    
}
.bicycle ul {
    display: flex;
    justify-content: space-between;
}
.bicycle li {
    width: 32%;
}
footer {
    font-size: 0.5rem;
    padding: 10px 0;
    text-align: center;
}